.pagination-container {
    display: flex;
    justify-content: center;
    height: 27px;
}

.pagination-btn {
    background-color: #FFFFFF;
    color: #575353;
    font-size: 15px;
    border: 1px solid #959595;
    line-height: 1;
    padding: 5px 15px;
    text-decoration: none;
    outline: none;
    transition: .3s ease;
    cursor: pointer;
    margin: 0 7px;
}

.pagination-btn:hover {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #FFFFFF;
}

.pagination-btn:disabled {
    border-color: lightgray;
    background-color: #FFFFFF;
    color: lightgray;
    cursor: default;
}

.pagination-text {
    line-height: 27px;
    color: slateblue;
}
